h1{
    font-size: 75px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
h2{
    font-size:50px;
    color:black;
}
#img{
    height: 600px;
    width: auto;
    align-self: center;
}
div{
    text-align: center;
}
p{
    font-size: 35px;
    color:black;
    margin-left:20px;
    margin-right:20px;
}